@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    background-color: rgb(253, 250, 246);
    
}
.hero{
    text-align: center;
    width: 100%;
    height: 30vh;
    color: rgb(0, 0, 0);
    background-image: url("../img/hero-imagen.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    font-size: 20px;
    margin-bottom: 100px;
}
.buscador{
    display: inline-block;
    button{
        background-color: rgb(163, 24, 163);
        border:solid 2px rgb(163, 24, 163);
    }
    input{
        margin-right: 5px;
        font-size: inherit;
        padding: 3px;
        border: none;
    }
}    
.carrusel{
    width: 990px;
    margin: 0 auto;
    div{
        img{
            height: 400px;
        }
    }
}
.formularioAyuda{
    margin: 100px;
}
.titulo{
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0); 
    font-weight: 700;
    margin: 20px;
}