/*----Media---*/
@media screen and (max-width: 1000px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .carrusel{
        width: 600px;
    }
    .galeria{
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        .gridItemUno{
            grid-row: span 1;
        }
    }
    .rastreo{
        margin: 5%;
        grid-template-columns: 1fr;
        grid-auto-rows: 500px;
        .gridRastreoUno{
            grid-row: span 1;
            grid-area: tercero;
            margin-bottom: 50px;
        }
        grid-template-areas: 
            'primero'
            'segundo'
            'tercero';
    }
    .envioP{
        div{
            display: flex;
            flex-direction: column;
        }
    }
    .carrito{
        .datos{
            flex-direction: column;
        }
    }
}

@media (max-width: 650px){
    header{
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 30px;
        nav {
            ul{
                display: inline-block
            } 
        }  
    }
    .carrusel{
        width: 350px;
        div{
            img{
                height: 200px;
            }
        }
    }
    .hero{
        padding-top: 20px;
    }
    .carrito{
        .datos{
            h3,h4,h5{
                margin: 5px;
                font-size: 15px;
            }
        }
        .tusProductos{
            img{
                height: 20%;
                width: 36%;
            }
        }
    }
}